:root {
  --light-primary: #32a3ac;
  --light-secondary: #ffcc2a;

  --base: #545354;
  --black: #000000;
  --white: #ffffff;

  --soft-white: #f5f5f5;
  --light-gray: #e0e0e0;

  --dark-primary: #1e7379;
  --dark-secondary: #cc9f1f;

  --font-light: 200;
  --font-normal: 400;
  --font-semibold: 600;
  --font-bold: 700;
}
